<!DOCTYPE html>
<meta name="viewport" content="width=device_width, intial-scale=1.0" />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Budget</title>

<div id="navSidebar" class="sidebar">
    <a href="{{ url_for('transactions.index') }}">Home</a>
    <a href="{{ url_for('transactions.merchants') }}">Merchants</a>
    <a href="{{ url_for('transactions.categories') }}">Categories</a>
</div>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</section>