body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5
}

table {
    text-align: left;
    border-collapse: collapse;
    --color: #d0d0f5;
}

thead {
    border-block-end: 2px solid;
    background: var(--color);
    position: sticky;
    left: 0;
    border-inline-end: none;
}

tbody tr:nth-child(even) {
    background: color-mix(in srgb, var(--color), transparent 60%);
}

tr {
    border-bottom: 1px solid;
}

th,
td {
    padding: 0.25rem 0.75rem;
}

th,
caption {
    text-align: start;
}

form {
    padding: 1.25rem 0rem;
}

button,
input,
select,
text {
    font-family: inherit;
    font-size: 100%;
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}